h1{
    color: aqua;
    font-style: oblique;
}
body{
    background-color: rgb(255, 239, 239);
    /* margin: 10px,10px; */
}
.nvbar{
    background-color: aqua;
    padding: 20px;
    height: 40px;
    margin-bottom: 7px;
}
.nvlogo{
    height: 30px;
}
.nvlinks{
    position: relative;
    list-style: none;
    display:flex;
    /* float: right; */
    justify-content:space-around;
    width:30%;
    left: 60%;
    bottom:60%;
}
.nvlinks li a{
    text-decoration: none;
    
}
p{
    text-align: justify;
    margin: 2px;
}
.para{
    width: 55%;
}
.para1 h1{
    text-align: center;
}
.img{
    height: 20vw;
    
}
.container2--img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.card-container{
    display: flex;
    padding: 10px;
    width: 95%;
    justify-content: space-around;
}
.card1{
    width: 200px;
    padding: 2px;

}
.card2{
    width: 200px;
    padding: 2px;
}
.card3{
    width: 200px;
    padding: 2px;
    right: 30px;
    padding: 2px;
}
.card1 h1{
    text-align: center;
}
.card2 h1{
    text-align: center;
}
.card3 h1{
    text-align: center;
}
/* .img-container1{
    border: 5px solid black;
    margin-top: 3px;
    
} */
.img-container2{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    
}
.img-container1{
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
    




